<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>blog</title>
  <link rel="stylesheet" href="/singleBlog.css">
</head>
<body>

   <%- include('nav.ejs') %>
  
  <div class="cards-container">
   
    <div class="card">
      <img src="<%- blog.image %>" alt="image">
      <h3><%- blog.title %></h3>
      <h4><%- blog.subTitle %></h4>
      <p><%- blog.description %></p>
      <p>Author: <%- blog.user.username %></p>
      <% if(currentUser){ %>
      <button class="btn del"><a href="/delete/<%- blog.id %>">Delete</a></button>
      <button class="btn up"><a href="/update/<%- blog.id %>">Update</a></button>
      <% } %>
    </div>
  </div>

<%- include('footer.ejs') %>

</body>
</html>
