<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update</title>
  <link rel="stylesheet" href="/updateBlog.css">
</head>
<body>

<%- include('nav.ejs') %>
  <div class="form-container">
    <h2>Update Your Content</h2>
    <form action="/update/<%- id %>" method="post">
      <label for="title">Title</label>
      <input type="text" id="title" value="<%- blog.title %>" name="title" placeholder="Enter title" required>

      <label for="subtitle">Subtitle</label>
      <input type="text" id="subtitle" value="<%- blog.subTitle %>" name="subTitle" placeholder="Enter subtitle" required>

      <label for="description">Description</label>
      <textarea id="description"  name="description" placeholder="Enter description" required><%- blog.description %></textarea>

      <button type="submit">Update</button>
    </form>
  </div>
<%- include('footer.ejs') %>
</body>
</html>
